.body {
    width: 1100px;
    height: 2100px;
    border: 1px solid black;
    margin: 0 auto;
}

.product {
    width: 500px;
    height: 500px;
    background: blue;
    padding: 20px;

}

.figure {
    width: 200px;
    height: 100px;


}

.first_1 {
    padding: 20px;
    margin: 50px;
    background-color: blue;
    color: white;
}

.second {
    float: left;
    margin-right: 190px;
    margin-left: 20px;


}

.img_1 {
    display: block;
    margin: 0 auto;

}

.first_2 {
    color: blue;
    margin-left: 80px;
    margin-bottom: 80px;
}

.second_2 {
    float: left;
    width: 400px;
    margin-right: 120px;
}

/*.img_2 {
    float: right;
}*/
.center {
    text-align: center;
}

.first_3 {
    color: blue;
    margin-top: 80px;
}

.second_21 {
    float: left;
    width: 460px;

    margin-right: 50px;
}

.second_22 {
    margin-top: 35px;
    margin-right: 55px;
}
.first_4 {
    position: relative;
}

.second_41 {
    width: 450px;


}

.second_411 {
    float: left;
    margin-right: 30px;
}

/*.second_412 {
    float: left;
}
*/
 .second_414 {

    margin-right: 20px;
}
.second_413 {
    margin-right: 50px
}
.second_42 {
    width: 450px;
    position: absolute;
    bottom:280px;
    left: 500px;
}

.second_43 {
    width: 450px;
}

.second_44 {
    width: 450px;
    position: absolute;
    bottom: 50px;
    left: 500px;
}
.left {
    margin-left: 50px;
    text-align: top

}