.body {
    width: 600px;
    height: 2100px;
    border: 1px solid black;
    margin: 0 auto;
}

.product {
	width: 500px;
	height: 500px;
	background: blue;
	  padding: 20px;

}

.figure {
    width: 200px;
    height: 100px;
    

}

.first {
    padding: 20px;

    background-color: red;
}