.body {
    width: 1000px;
    height: 2100px;
    border: 1px solid black;
    margin: 0 auto;
}

.product {
    width: 500px;
    height: 500px;
    background: blue;
    padding: 20px;

}

.figure {
    width: 200px;
    height: 100px;


}

.first_1 {
    padding: 20px;
    margin: 50px;
    background-color: blue;
    color: white;
}

.second {
    float: left;
    margin-right: 190px;
    margin-left: 20px;


}

.img_1 {
    display: block;
    margin: 0 auto;

}

.first_2 {
    color: blue;
    margin-left: 80px;
    margin-bottom: 80px;
}

.second_2 {
    float: left;
    width: 400px;
    margin-right: 120px;
}

/*.img_2 {
    float: right;
}*/
.center {
    text-align: center;
}

.first_3 {
    color: blue;
    margin-top: 80px;
}

.second_21 {
    float: left;
    width: 400px;

    margin-right: 50px;
}

.second_22 {
    margin-top: 35px;
    margin-right: 55px;
}
.second_411 {
    float:left;
}
